<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODULO BD</title>
</head>
<body>
    <h1>MODULO BD</h1>

    <!-- Enlace para crear una persona -->
    <a href="/crear-persona">Crear Persona</a>

    <!-- Enlace para realizar una venta -->
    <a href="/facturas/realizar-venta">Realizar Venta</a>

    <!-- Enlace para realizar una compra -->
    <a href="/facturas/realizar-compra">Realizar Compra</a>

    <!-- Enlace para devoluci贸n de compra -->
    <a href="/facturas/devolucion-compra">Devoluci贸n de Compra</a>

    <!-- Enlace para devoluci贸n de venta -->
    <a href="/facturas/devolucion-venta">Devoluci贸n de Venta</a>
</body>
</html>
