<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <!-- Enlace para crear una persona -->
    <a href="/crear-persona">Crear Persona</a>

    <!-- Enlace para crear una factura -->
    <a href="/crear-factura">Crear Factura</a>
</body>
</html>
